$color-black: #000;
$color-blue: #1698d9;
$color-blue-lighter: #2ea8e6;
$color-white: #fff;
$color-gray: #b3b3b3;
$color-light-gray: #f2f2f2;
$color-dark-gray: #666;
$color-yellow: #ff6;
$color-ruby: #d91667;
$color-ruby-lighter: #e52e7a;

$font-Exo20: 'Exo2.0', Arial, sans-serif;
$font-Trebuchet-MS: 'Trebuchet MS', Arial, sans-serif;

$body-font: 14px/1.22 $font-Trebuchet-MS;
